<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 style="text-align:center;">Add New Comment to <%=campground.name %> </h1>

			<div style="width:30%; margin:25px auto;">
				<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
					<div class="form-group">
						<label for="comment">Enter a new comment here:</label>
						<input class="form-control" id="comment" type="text" name ="comment[text]" placeholder="Text">
					</div>
					<div class="form-group">
						<input class="btn btn-lg btn-primary btn-block" type="submit">
					</div>
				</form>
				<a href="/campgrounds">Go back</a>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>