.thumbnail img {
	width: 100%;
}

.thumbnail{
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

#delete-form{
	display:inline;
}

#header-account{
	text-align: center;
}

#content-account{
	width: 30%;
	margin: 200px auto;
}

#map{
	height:400px;
	width: 100%;
}




